div.secao-detalhes-produtos{
    margin-bottom: 60px;
}

div.detalhes-mestre h1.titulo{
    font-family: 'Fredericka the Great', cursive;
}

div.detalhes-mestre-img img{
    width: 100%;
    height: 450px;
}

div.detalhes-mestre-descricao h1, span{
    font-family: 'Titillium Web', sans-serif;
}

div.detalhes-mestre-descricao p{
    width: 80%;
    font-size: 80%;
    margin-top: 1rem;
}

div.detalhes-mestre-descricao div.botao-comprar{
    width: 75%;
    height: 3rem;
    text-align: center;
    background-color: #f361a5;
    transition: .3s ease-in;

    cursor: pointer;
}

div.detalhes-mestre-descricao div.botao-comprar:hover{
    opacity: 0.8;
}

div.detalhes-mestre-descricao div.botao-comprar a{
    text-decoration: none;   
    font-size: 200%;
    color: #000000;
}

div.detalhes-mestre-descricao div.redes-sociais i{
    font-size: 200%;
    color: #1a1919;
    transition: .3s ease-in;
}

div.detalhes-mestre-descricao div.redes-sociais i:hover{
    opacity: 0.8;
}

div.descricao-mestre{
    width: 80%;
    margin-bottom: 80px;
    margin-top: 60px;
}

a.btn-editar{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #1a1919;
    transition: .3s ease-in;
}

a.btn-editar:hover{
    opacity: .9;
}