footer{
    position: fixed;
    bottom:0;
    left:0;
    background-color: #FEE1D1;
    border-top: 2px solid #632D0B;
    box-shadow: 0px 0px 6px 4px #632D0B;
}

footer div.footer-mestre{
    display: flex;
    flex-flow: row;
    margin-top: 2rem;
}

footer div.footer-mestre div.footer-mestre-nav{
    width: 25%;
}

footer div.footer-mestre ul li a{
    font-size: 120%;
    color: #000000;
    font-family: 'Titillium Web', sans-serif;
}

footer div.footer-mestre ul li a:hover{
    color: #FEE1D1;
}

footer div.footer-mestre ul.cartoes-credito{
    width: 35%;
    margin: auto;
}

footer div.footer-mestre ul.cartoes-credito li{
    width: 20%;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: -4px  4px 6px  #632D0B;
}

footer div.footer-mestre ul.cartoes-credito li img{
    max-width: 100%;
}

footer div.footer-mestre div.footer-mestre-cartoes{
    width: 50%;
    text-align: center;
}

footer div.footer-mestre p{
    color: #000000;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 4rem;
}


/*------------------------------------------*/
/*             FOOTER PEQUENO               */
/*------------------------------------------*/
footer{
    height: 100vh;
}

footer div.footer-mestre-pequeno{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

footer div.footer-mestre-pequeno div.footer-mestre-cartoes-pequeno{
    border: 2px solid #632D0B;
}

footer div.footer-mestre-pequeno h1{
    text-align: center;
}

footer div.footer-mestre-pequeno ul.cartoes-credito-pequeno{
    width: 100%;
    margin: auto;
    align-items: center;
}

footer div.footer-mestre-pequeno ul.cartoes-credito-pequeno li{
    margin: 1% 1%;
}



