/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

div.carrossel-img{
    max-height: 500px;
    min-height: 350px;
}

img.img-destaque{
    max-height: 500px;
    min-height: 350px;
}

/* DEIXANDO INDICADORES DO CARROSSEL EM BOLINHA */
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel-indicators button.active{
    background-color: #632D0B;
}

div.carousel-caption{
    right: -500px !important;
}

div.carousel-caption input.carregar-img{
    width: 20%;
    margin: auto;
}

div.carousel-caption button{
    padding: 10px 20px;
    background-color: #632D0B;
    border-radius: 10px;
    color: #FFFF;
    border: none;
}