/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/


/*--------------------------*/
/*   SECTION OFERTAS       */
/*--------------------------*/

section.produto-ofertas{
    margin-bottom: 5rem;
}

section.produto-ofertas h2{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
    color: #FE9E8E;
}

div.produto-ofertas-mestre{
    width: 100%;
    margin: auto;
    padding: 20px 4%;
}

/*--------------------------*/
/*   SECTION TENDENCIA       */
/*--------------------------*/

section.produto-tendencia h2{
    text-align: center;
    margin-bottom: 3rem;
    color: #FE9E8E;
}

div.produto-d-mestre{
    width: 100%;
    margin: auto;   
    padding: 20px 4%;

    align-items: center;
}

/*--------------------------*/
/*   SECTION MAIS VENDIDOS  */
/*--------------------------*/

div.mais-vendidos-mestre h2{
    text-align: center;
    margin-bottom: 3rem;
    color: #FE9E8E;
}

div.mais-vendidos-d{
    width: 100%;
    margin: auto;
    
    padding: 20px 4%;
}